<div class="container">
    <div class="form-inline quesType">
        <div ng-if="toastMsg!=''">
        <div class="alert alert-success alert-dismissable" >
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{toastMsg}}
</div>
        </div>
        <label for="text">Question Type:</label>
        <input type="text" class="form-control" ng-model="questionTyp.type" placeholder="Enter Question Type">
        <button type="submit" class="btn btn-default" ng-click="questionType()">Submit</button>
    </div>
    <div class="form-group selectQuestionType">
      <label for="sel1">Select Question Type:</label>
      <select class="form-control" id="sel1" ng-model="questType" ng-click="findperquestAnswer()">
        <option ng-repeat="questTyp in listQuestionType">{{questTyp.type}}</option>
      </select>
      </div>
    <div class="form-Group questions " >
        <div class="row question">
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
               <b> Questions:</b>
            </div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
              <!--  <button class="btn Success bttn" ng-click="addOptions()">Add Options+</button>-->
            </div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
               <!-- <button class="btn Success bttn" ng-click="addMoreOptions()">Add More Options</button>-->
            </div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
               <!-- <button class="btn Success bttn" ng-click="removeOptions()">Remove Options</button>-->
            </div>
        <input type="text" class="form-control" ng-model="ques.questions" placeholder="Enter Questions">
    </div>
    <div  ng-show="addOpp">
        <div class="form-group">
           
             <button class="btn Success bttn"  ng-click="addMoreOptions($index)" ng-if="editMode==false">Add Option</button>
             <button class="btn Success bttn" ng-click="removeOptions($index)"  ng-if="editMode==false">delete</button>
           <div class=" Opp">  
            <div class="form-inline">
                <div ng-repeat="an in ques.options">
               <input type="radio" ng-value="an.opt"ng-model="ques.rightAnswer" ng-if="editMode==true">
                 <input type="text" class="form-control"  ng-model="an.opt" ng-if="editMode==true" placeholder="Enter Options">
                 <button class="btn Success bttn" ng-show="$last" ng-click="addMoreOptions($index)"  ng-if="editMode==true">Add Option</button>
                 <button class="btn Success bttn"  ng-show="$last" ng-click="removeOptions($index)"  ng-if="editMode==true">delete</button>
           </div>
           </div>
            </div>
        </div>
        
    </div>
    <div id="bttn" >
    <button class="btn Success" ng-click="nextQuestion()" ng-if="editMode==false">Next Question</button>
   <button class="btn Success" ng-click="submitQuestions()" ng-if="editMode==false">Submit</button>
   <button class="btn Success" ng-click="submitEditQuestions()" ng-if="editMode==true">Submit</button>
   <button class="btn Success" ng-click="Back()" ng-if="editMode==true">Back</button>
</div>
   <!--<ul style="margin:auto" ng-repeat=" ques in questionView.questions ">{{$index+1}}>{{ques.questions}}
        
          <!-- <button class="btn Success" ng-click="editQues(ques)">Edit</button>
<button class="btn Success" ng-click="deleteQues(ques)">delete</button>
        <div ng-repeat="ans in ques.options">{{$index+1}}){{ans.opt}}</div>
        <button class="btn primary" ng-click="editQues(ques)">edit</button>
            <button class="btn primary" ng-click="deleteQues(ques,ans)">delete</button>
    </ul>-->
<table class="table table-striped">
    <tbody>
      <tr style="margin:auto"  ng-repeat="ques in questionView.questions">
       <td >
            <div  class="row">
              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" >  
            {{$index+1}}>{{ques.questions}}
            
            <div ng-repeat="ans in ques.options">{{$index+1}}){{ans.opt}}</div>
            </div>
            <div style="width:20vh" class="col-sm-3 col-xs-3 col-md-3 col-lg-3" >
            <button class="btn primary" ng-click="editQues(ques)" >edit</button>
            </div>
            <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
           <button class="btn primary" ng-click="deleteQues(ques,ans)">delete</button>
           </div>
            </div>
       </td>
      </tr>
       </tbody>
       </table>
</div>
</div>

</div>