<div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>Total Questions:</th>
        <th>Total Correct Answers:</th>
        <th>UserId:</th>
        <th>Question Type</th>
        <th>Attended</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ques in viewQuestion">
        <td>{{ques.totalQuestions}}</td>
        <td>{{ques.totalAnswers}}</td>
        <td>{{ques._id.userId}}</td>
         <td>{{ques._id.type}}</td>
         <td>{{ques.Attended}}</td>
         
      </tr>
      </tbody>
       </table>
</div>