<div class="container" >
<div ng-repeat="quest in viewQuestion.questions" >  
    <div >
      <div>{{quest.questions}}</div>
       <div ng-repeat=" option in quest.options" ><input ng-value="option.opt" type="radio" ng-model="quest.userAnswer"/>{{option.opt}} </div>
    </div>
  </div>
   <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
  <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
</div>